

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color: #797b84;
}
html {
  font-size: 10px;
  font-family: 'Anton', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{
  border-bottom: 1px solid #797b84;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #dbabbe;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #dbabbe;
}



:root {
  --msg-content-height: 26.75em;
  --msg-spacing: 1em;
  --msg1-height: 5.5em;
  --msg2-height: 4em;
  --msg3-height: 2.5em;
  --msg4-height: 2.5em;
  --msg5-height: 4em;
  --msg6-height: 3.25em;
  
}

.msg-send {
  position: absolute;
  animation-iteration-count: 1;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

.msg-receive {
  position: absolute;
  animation-iteration-count: 1;
  animation-duration: 8s;
  background-color: #2d67ff;
  color: #ffffff;
  animation-fill-mode: forwards;
}

.msg-container {
  width: 28em;
}

.msg-content {
  height: var(--msg-content-height);
}


/*Animation Names*/

#msg1 {
  animation-name: msg1;
}

#msg2 {
  animation-name: msg2;
}

#msg3 {
  animation-name: msg3;
}

#msg4 {
  animation-name: msg4;
}

#msg5 {
  animation-name: msg5;
}

#msg6 {
  animation-name: msg6;
}
#msg7 {
  animation-name: msg6;
}

.myDiv {
 
 
  padding: 40px;
}
/*Key Frames*/

@keyframes msg1 {
  0% {
    top: calc(var(--msg-content-height) - var(--msg1-height));
    left: -4em;
    transform: scale(0);
  }
  5% {
    top: calc(var(--msg-content-height) - var(--msg1-height));
    left: 0;
    transform: scale(1);
  }
  12% {
    top: calc(var(--msg-content-height) - var(--msg1-height));
  }
  17% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height));
  }
  30% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height));
  }
  35% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
  }
  49% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
  }
  54% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  70% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  75% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
  }
  95% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes msg2 {
  0% {
    top: calc(var(--msg-content-height) - var(--msg2-height));
    right: 0;
    transform: scale(0);
    opacity: 0;
  }
  12% {
    top: calc(var(--msg-content-height) - var(--msg2-height));
    right: -4em;
    transform: scale(0);
  }
  17% {
    top: calc(var(--msg-content-height) - var(--msg2-height));
    right: 0;
    transform: scale(1);
    opacity: 1;
  }
  30% {
    top: calc(var(--msg-content-height) - var(--msg2-height));
  }
  35% {
    top: calc(var(--msg-content-height) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
  }
  49% {
    top: calc(var(--msg-content-height) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
  }
  54% {
    top: calc(var(--msg-content-height) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  70% {
    top: calc(var(--msg-content-height) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  75% {
    top: calc(var(--msg-content-height) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
    right: 0;
  }
  95% {
    top: calc(var(--msg-content-height) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
  }
  100% {
    top: calc(var(--msg-content-height) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height) - var(--msg-spacing) - var(--msg6-height));
    right: 0;
  }
}

@keyframes msg3 {
  0% {
    top: calc(var(--msg-content-height) - var(--msg3-height));
    left: -4em;
    opacity: 0;
    transform: scale(0);
  }
  30% {
    top: calc(var(--msg-content-height) - var(--msg3-height));
    opacity: 0;
    transform: scale(0);
  }
  35% {
    top: calc(var(--msg-content-height) - var(--msg3-height));
    left: 0;
    transform: scale(1);
    opacity: 1;
  }
  49% {
    top: calc(var(--msg-content-height) - var(--msg3-height));
  }
  54% {
    top: calc(var(--msg-content-height) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  70% {
    top: calc(var(--msg-content-height) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  75% {
    top: calc(var(--msg-content-height) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
    left: 0;
  }
  95% {
    top: calc(var(--msg-content-height) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
  }
  100% {
    top: calc(var(--msg-content-height) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height) - var(--msg-spacing) - var(--msg6-height));
    left: 0;
  }
}

@keyframes msg4 {
  0% {
    top: calc(var(--msg-content-height) - var(--msg4-height));
    right: -4em;
    opacity: 0;
    transform: scale(0);
  }
  49% {
    top: calc(var(--msg-content-height) - var(--msg4-height));
    right: -4em;
    opacity: 0;
    transform: scale(0);
  }
  54% {
    top: calc(var(--msg-content-height) - var(--msg4-height));
    right: 0;
    transform: scale(1);
    opacity: 1;
  }
  70% {
    top: calc(var(--msg-content-height) - var(--msg4-height));
  }
  75% {
    top: calc(var(--msg-content-height) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
    right: 0;
  }
  95% {
    top: calc(var(--msg-content-height) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
  }
  100% {
    top: calc(var(--msg-content-height) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height) - var(--msg-spacing) - var(--msg6-height));
    right: 0;
  }
}

@keyframes msg5 {
  0% {
    top: calc(var(--msg-content-height) - var(--msg5-height));
    left: -4em;
    opacity: 0;
    transform: scale(0);
  }
  70% {
    top: calc(var(--msg-content-height) - var(--msg5-height));
    left: -4em;
    opacity: 0;
    transform: scale(0);
  }
  75% {
    top: calc(var(--msg-content-height) - var(--msg5-height));
    left: 0;
    transform: scale(1);
    opacity: 1;
  }
  95% {
    top: calc(var(--msg-content-height) - var(--msg5-height));
  }
  100% {
    top: calc(var(--msg-content-height) - var(--msg5-height) - var(--msg-spacing) - var(--msg6-height));
    left: 0;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes msg6 {
  0% {
    top: calc(var(--msg-content-height) - var(--msg6-height));
    right: -4em;
    opacity: 0;
    transform: scale(0);
  }
  95% {
    top: calc(var(--msg-content-height) - var(--msg6-height));
    right: 0;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    top: calc(var(--msg-content-height) - var(--msg6-height));
    right: 0em;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes msg7 {
  0% {
    top: calc(var(--msg-content-height) - var(--msg2-height));
    right: 0;
    transform: scale(0);
    opacity: 0;
  }
  12% {
    top: calc(var(--msg-content-height) - var(--msg2-height));
    right: -4em;
    transform: scale(0);
  }
  17% {
    top: calc(var(--msg-content-height) - var(--msg2-height));
    right: 0;
    transform: scale(1);
    opacity: 1;
  }
  30% {
    top: calc(var(--msg-content-height) - var(--msg7-height));
  }
  35% {
    top: calc(var(--msg-content-height) - var(--msg7-height) - var(--msg-spacing) - var(--msg3-height));
  }
  49% {
    top: calc(var(--msg-content-height) - var(--msg7-height) - var(--msg-spacing) - var(--msg3-height));
  }
  54% {
    top: calc(var(--msg-content-height) - var(--msg7-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  70% {
    top: calc(var(--msg-content-height) - var(--msg7-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  75% {
    top: calc(var(--msg-content-height) - var(--msg7-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
    right: 0;
  }
  95% {
    top: calc(var(--msg-content-height) - var(--msg7-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
  }
  100% {
    top: calc(var(--msg-content-height) - var(--msg7-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height) - var(--msg-spacing) - var(--msg6-height));
    right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: white;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }
  .console-container{
    width: fit-content;
   
    
    height: fit-content;

  }
}

